.homepage {
  background: #D50711;
  color: #fff;
  text-shadow: 2px 2px 0 #B7060F;
}

.homepage .centered {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
}

.homepage h1 {
  color: white;
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 0.01em;
  vertical-align: middle;
}
